INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
examples/chat
examples/chat/.deps
libtool
src/.deps/
src/libfmq.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
tools/.deps/
doc/*.3
.libs/
*.o
*.lo
*.la
*.lst
core
.cache
testit
*.pc
zpinger
zlogger
tools/ztester
tools/ztester_beacon
tools/ztester_gossip
tools/perf_local
tools/perf_remote
src/zyre_selftest
doit
src/test-suite.log
src/zyre_selftest.log
src/zyre_selftest.trs

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
libzyre.so
include/platform.h
platform.h.in
*.log

# config files for qtcreator
zyre.config
zyre.creator
zyre.files
zyre.includes

# Windows build intermediate files
*.suo
*.sdf
*.user
*.opensdf
bin/
obj/

# eclipse setting
.cproject
.project

# qt-android build results
builds/qt-android/prefix/
