INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
examples/listener
examples/sender
examples/zrechat
libtool
src/.deps/
src/Makefile
src/Makefile.in
src/libfmq.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
tools/.deps/
doc/*.3
.libs/
*.o
*.lo
*.la
*.lst
core
.cache
testit
*.pc
zpinger
zlogger
ztester
perf_local
perf_remote
zyre_selftest
doit
src/test-suite.log
src/zyre_selftest.log
src/zyre_selftest.trs

src/zyre_logger
src/zyre_perf_local
src/zyre_perf_remote
src/zyre_ping
src/zyre_tester
