INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/libzre.1
libtool
src/zyre
src/.deps/
src/Makefile
src/Makefile.in
src/libzre.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
.libs/
*.o
*.lo
*.la
*.lst
core
zre_selftest
zre_ping
zre_tester
zre_perf_local
zre_perf_remote

